
/* canvas {
  width: 100% !important;
  height: 400px !important;
} */

.canvas-container {
  width: 500px;
  /* //max-width: 750px; */
  height: 450px;
}

.cv-white {
  background-color: #90caf9;
  border: 3px solid #fff !important;
}

.cv-black {
  background-color: #90caf9;
  border: 3px solid #000 !important;
}
