html,
#root {
  width: 100%;
  height: 100%;
}

* {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

*::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


/* canvas {
  width: 100% !important;
  height: 400px !important;
} */

.canvas-container {
  width: 500px;
  /* //max-width: 750px; */
  height: 450px;
}

.cv-white {
  background-color: #90caf9;
  border: 3px solid #fff !important;
}

.cv-black {
  background-color: #90caf9;
  border: 3px solid #000 !important;
}
